<p>createstock works!</p>


<form>
    <h2>Fill out the company information</h2>
    Name: <input [(ngModel)]="newStock.name" name="name"> <br>
    Description: <input [(ngModel)]="newStock.description" name="description"><br>
    CEO: <input [(ngModel)]="newStock.ceo" name="ceo"><br>
    netWorth: <input [(ngModel)]="newStock.netWorth" name="netWorth"><br>
    stock: $ <input [(ngModel)]="newStock.stock" name="stock"><br>
    Website: <input [(ngModel)]="newStock.website" name="website"><br>
    <!-- ID: <input [(ngModel)]="newStock.id"> -->

</form>

<button (click)="create()">Add a new Company</button>