<p>createstock works!</p>


<form>
    <h2>Fill out the company information</h2>
    Name: <input [(ngModel)]="newStock.name"> <br>
    Description: <input [(ngModel)]="newStock.description"><br>
    CEO: <input [(ngModel)]="newStock.ceo"><br>
    netWorth: <input [(ngModel)]="newStock.netWorth"><br>
    stock: $ <input [(ngModel)]="newStock.stock"><br>
    Website: <input [(ngModel)]="newStock.website"><br>
    ID: <input [(ngModel)]="newStock.id">

</form>

<button (click)="create()">Add a new Company</button>